@use 'sass:color';

.wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;

  &::-webkit-scrollbar {
    display: none;
  }

  .tab {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 32px;
    min-height: 32px;
    border: 1px solid #888;
    border-radius: 12px;
    color: #888;
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background-color: color.adjust(#888, $lightness: 10%);
      color: #fff;
    }

    @media screen and (max-width: 767.99px){
      height: 40px;
      min-height: 40px;
      font-size: 14px;
    }

    &Active {
      background-color: #888;
      color: #fff;
      cursor: default;

      &:hover {
        background-color: #888;
        color: #fff;
      }
    }
  }
}
