.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;

  .text {
    flex: 1;
    color: #000;
    font-weight: 500;
  }

  &.completed {
    .text {
      color: #888;
      text-decoration: line-through;
    }
  }

  .rm {
    cursor: pointer;
  }
}

